<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<%= button_to "Go To Blogger", blogger_path(@post.blogger), method: :get %> <br>
<%= button_to "Go To Destination", destination_path(@post.destination), method: :get %>


<p><%= @post.likes %></p>

<%= button_to "Like Post", like_post_path, method: :patch%>